#flexbox-parent-container {
  display: flex;
  flex-flow: row nowrap;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.flexbox-child-element {
  height: 100px;
  flex-basis: 100px;
  background-color: red;
  margin: 10px;
  flex-shrink: 1;
  flex-grow: 1;
}

#first-child {
  flex-basis: 200px;
  flex-grow: 10;
  flex-shrink: 2;
  align-self: start;
}
